body{
	margin: 0;
	padding: 0;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    /*float: left;*/
    width: 40%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example input[type=button] {
    /*float: left;*/
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example input[type=button]:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    width: 20%;
    border-radius: 20px;
  }

  .name {
    width: 40%;
    text-align: center;
  }

  h2 {
	color: white;
  }